@model FAST_FOOD.Models.Danhmuc

@{
    ViewBag.Title = "Chi Tiết Danh Mục";
}

<h2 class="text-info">Chi Tiết Danh Mục</h2>
</hr>

    <dl class="row">
        <dt class="col-sm-3">
            Mã Danh Mục
        </dt>

        <dd class="col-sm-9">
            @Model.DanhMucId
        </dd>
        <dt class="col-sm-3">
            Tên Danh Mục
        </dt>
        <dd class="col-sm-9">
            @Model.TenDanhMuc
        </dd>
    </dl>

<p>
    @Html.ActionLink("✏️ Sửa", "Edit", new { id = Model.DanhMucId }, new {@class="btn btn-warning text-white"}) |
    @Html.ActionLink("🔙 Quay Lại", "Index" , null , new {@class="btn btn-secondary"})
</p>
